
/*https://stackoverflow.com/questions/51616903/css-grid-white-space-on-the-bottom-and-how-to-remove-it*/

.container {
  border: 1px solid black;
}

.grid {
  border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*::before,
::after {
  box-sizing: inherit;
}*/

.container {
  display: grid;
  position: relative;
  margin: auto;
  grid-template-areas: 'one one one one one one'
  'two two two two two two'
  'three three three three three three'
  'four four four four four four'
  'five five five five five five'
  'six six six six six six';
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50px 50px 1fr auto;
}

.one {
  grid-area: one;
  background-color: green;
}

.two {
  grid-area: two;
  background-color: salmon;
}

.three {
  grid-area: three;
  background-color: cadetblue;
  
}

.four {
  grid-area: four;
  background-color: lightpink;
 
}

.five {
  grid-area: five;
  background-color: sandybrown;
 
}

.six {
  grid-area: six;
  background-color: hotpink;
  
}

