.grid-item-1 {
    grid-area: header;
  }
  
  .grid-item-2 {
    grid-area: article;
  }
  
  .grid-item-3 {
    grid-area: footer;
  }
  
  .grid-item-4 {
    grid-area: sidebar;
  }
  
  .grid-item-5 {
    grid-area: ads1;
  }
  
  .grid-item-6 {
    grid-area: ads2;
  }
  
  .grid-item-7 {
    grid-area: ads3;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      'header header header header header'
      'sidebar article article article ads1'
      'sidebar article article article ads1'
      'sidebar article article article ads1'
      'sidebar article article article ads2'
      'sidebar article article article ads3'
      'sidebar footer footer footer footer';
    background-color: orange;
    margin: 30px;
  }
  
  div {
    border: 1px solid black;
    background-color: purple;
    color: white;
    padding: 20px;
    border-radius: 5px;
  }