

/*body {
  margin: 0;
  padding: 0;
}



ul {
  list-style-type: none;
  margin: 0;
  gap: 16px;
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 185px;
  margin-right: 185px;
  border: solid 1px black;
}


.headmain {
  display: flex;
  padding-left: 185px;
  padding-right: 185px;
  border: solid 1px black;
  padding-top: 100px;
}

.logo {
  display: flex;
  border: solid 1px black;
}

.text {
  flex: 1;
  border: solid 1px black;
  
}

.image {
  flex:1;
  border: solid 1px black;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 background-color: #1F2937;
}

.three {
  background-color: green;
  
}

.down {
  display: block;
 background-color: aqua;
 
 width: 100%;
}

.container {
  display: block;
  min-height: 100vh;
  align-items: flex-start;
  height: 100%;
  background-color: lightpink;
}
*/

.container {
background-color: blue;
padding-left: 100px;
}

.header {
  border: solid 1px black;
}